In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("SQLJoins").getOrCreate()

In [15]:
spark

In [10]:
df1=spark.createDataFrame([(1,'A',100),(2,'B',200),(3,'C',300),(4,'D',400)],['id','name','salary'])

In [11]:
df1.count()

4

In [31]:
df1.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|   A|   100|
|  2|   B|   200|
|  3|   C|   300|
|  4|   D|   400|
+---+----+------+

In [32]:
df1.createOrReplaceTempView("df_table")

In [38]:
spark.sql("select row_number() over(order by salary desc)as salary_num,id,name,salary from df_table").show()

+----------+---+----+------+
|salary_num| id|name|salary|
+----------+---+----+------+
|         1|  4|   D|   400|
|         2|  3|   C|   300|
|         3|  2|   B|   200|
|         4|  1|   A|   100|
+----------+---+----+------+

#### Here using spark sql we can write create,update,delete and create a table like RDBMS 

       check Below :-->>>
       
#### "create"

In [59]:
spark.sql("create table new_table (id int,name varchar(2))")

DataFrame[]

#### "DROP"

In [57]:
spark.sql("drop table new_table")

DataFrame[]

In [63]:
spark.sql("select * from new_table").show()

+---+----+
| id|name|
+---+----+
+---+----+

#### "describe formatted"

In [55]:
spark.sql("describe formatted new_table").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|                  id|                 int|   null|
|                name|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|             default|       |
|               Table|           new_table|       |
|        Created Time|Sun Feb 14 21:07:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|Spark 3.0.0-preview2|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|            Location|file:/C:/Users/ck...|       |
+--------------------+--------------------+-------+

#### "alter"

In [70]:
spark.sql("alter table new_table add columns age int")

DataFrame[]

### In below code we are fcaing isuue in "insert" we will explore about it later

      Currently i m all focused to work on spark dataframe therefore leaving this here

In [76]:
spark.sql("""insert into table new_table values (1,'AB',8)""")

Py4JJavaError: An error occurred while calling o108.sql.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:226)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:178)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:116)
	at org.apache.spark.sql.Dataset.$anonfun$logicalPlan$1(Dataset.scala:226)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3472)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$4(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:87)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3468)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:226)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:96)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:607)
	at jdk.internal.reflect.GeneratedMethodAccessor76.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:567)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:830)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 29.0 failed 1 times, most recent failure: Lost task 0.0 in stage 29.0 (TID 51, cpc, executor driver): java.io.IOException: Cannot run program "C:\spark\spark-3.0.0-preview2-bin-hadoop2.7\bin\winutils.exe": CreateProcess error=216, This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1128)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1071)
	at org.apache.hadoop.util.Shell.runCommand(Shell.java:523)
	at org.apache.hadoop.util.Shell.run(Shell.java:482)
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:776)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:869)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:852)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.parquet.hadoop.util.HadoopOutputFile.create(HadoopOutputFile.java:74)
	at org.apache.parquet.hadoop.ParquetFileWriter.<init>(ParquetFileWriter.java:248)
	at org.apache.parquet.hadoop.ParquetOutputFormat.getRecordWriter(ParquetOutputFormat.java:390)
	at org.apache.parquet.hadoop.ParquetOutputFormat.getRecordWriter(ParquetOutputFormat.java:349)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetOutputWriter.<init>(ParquetOutputWriter.scala:37)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$$anon$1.newInstance(ParquetFileFormat.scala:150)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:126)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:111)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:264)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$15(FileFormatWriter.scala:205)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:441)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:444)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:830)
Caused by: java.io.IOException: CreateProcess error=216, This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher
	at java.base/java.lang.ProcessImpl.create(Native Method)
	at java.base/java.lang.ProcessImpl.<init>(ProcessImpl.java:483)
	at java.base/java.lang.ProcessImpl.start(ProcessImpl.java:158)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1107)
	... 35 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:1989)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:1977)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:1976)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1976)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:956)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:956)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:956)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2155)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2144)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:758)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2116)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:195)
	... 23 more
Caused by: java.io.IOException: Cannot run program "C:\spark\spark-3.0.0-preview2-bin-hadoop2.7\bin\winutils.exe": CreateProcess error=216, This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1128)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1071)
	at org.apache.hadoop.util.Shell.runCommand(Shell.java:523)
	at org.apache.hadoop.util.Shell.run(Shell.java:482)
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:776)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:869)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:852)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.parquet.hadoop.util.HadoopOutputFile.create(HadoopOutputFile.java:74)
	at org.apache.parquet.hadoop.ParquetFileWriter.<init>(ParquetFileWriter.java:248)
	at org.apache.parquet.hadoop.ParquetOutputFormat.getRecordWriter(ParquetOutputFormat.java:390)
	at org.apache.parquet.hadoop.ParquetOutputFormat.getRecordWriter(ParquetOutputFormat.java:349)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetOutputWriter.<init>(ParquetOutputWriter.scala:37)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$$anon$1.newInstance(ParquetFileFormat.scala:150)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:126)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:111)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:264)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$15(FileFormatWriter.scala:205)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:441)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:444)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: java.io.IOException: CreateProcess error=216, This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher
	at java.base/java.lang.ProcessImpl.create(Native Method)
	at java.base/java.lang.ProcessImpl.<init>(ProcessImpl.java:483)
	at java.base/java.lang.ProcessImpl.start(ProcessImpl.java:158)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1107)
	... 35 more

In [71]:
spark.sql("select * from new_table").show()

+---+----+---+
| id|name|age|
+---+----+---+
+---+----+---+

### will continue with our datraFrame which has been created top most part of this notebook as "df1"

####          check Below-->>>:

In [77]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [79]:
df1.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|   A|   100|
|  2|   B|   200|
|  3|   C|   300|
|  4|   D|   400|
+---+----+------+

***There are many ways to add columns in existing dataframe in pyspark***

       1.using literal 
       Check Below:--->>> But this way is not so optimized

In [81]:
from pyspark.sql.functions import lit

In [86]:
df2=df1.withColumn("age",lit(8)).show()

+---+----+------+---+
| id|name|salary|age|
+---+----+------+---+
|  1|   A|   100|  8|
|  2|   B|   200|  8|
|  3|   C|   300|  8|
|  4|   D|   400|  8|
+---+----+------+---+

In [85]:
df1.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|   A|   100|
|  2|   B|   200|
|  3|   C|   300|
|  4|   D|   400|
+---+----+------+

#### Second method to add column in pyspark dataFrame is using "udf"
            
        For this we need to import user defined function module from "pyspar.sql.functions"
    
        Check below:-->>>

In [94]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *

In [98]:
def valueToAge(value):
    if value==1:
        return 40
    elif value==2:
        return 50
    elif value==3:
        return 60
    else:
        return 'n/a'
    
udfvalueToAge=udf(valueToAge,StringType())    
df3=df1.withColumn("age",udfvalueToAge("id"))

In [100]:
df3.show()

+---+----+------+---+
| id|name|salary|age|
+---+----+------+---+
|  1|   A|   100| 40|
|  2|   B|   200| 50|
|  3|   C|   300| 60|
|  4|   D|   400|n/a|
+---+----+------+---+

#### Now we will create another dataFrame and with the help of these two dataFrames

    "df3" and "df4" we will practice all the dataFrame operations

    Check below:--->>>

In [102]:
df4=spark.createDataFrame([(1,"x",500,"patna"),(3,"y",700,"delhi"),
                           (4,"z",1000,"mumbai"),(5,"p",800,"chennai")],
                          ['orderid','name','salary','place'])

In [103]:
df4.show()

+-------+----+------+-------+
|orderid|name|salary|  place|
+-------+----+------+-------+
|      1|   x|   500|  patna|
|      3|   y|   700|  delhi|
|      4|   z|  1000| mumbai|
|      5|   p|   800|chennai|
+-------+----+------+-------+

In [106]:
df4.orderBy('salary').show()

+-------+----+------+-------+
|orderid|name|salary|  place|
+-------+----+------+-------+
|      1|   x|   500|  patna|
|      3|   y|   700|  delhi|
|      5|   p|   800|chennai|
|      4|   z|  1000| mumbai|
+-------+----+------+-------+

In [118]:
print(df4.groupBy('place').count().show())
print("\n")
print("This is the type of this output: ",type(df4.groupBy("place").count()))
print("\n")
print(df4.groupBy("place").count().select("place").show())

+-------+-----+
|  place|count|
+-------+-----+
|chennai|    1|
|  delhi|    1|
|  patna|    1|
| mumbai|    1|
+-------+-----+

None


This is the type of this output <class 'pyspark.sql.dataframe.DataFrame'>


+-------+
|  place|
+-------+
|chennai|
|  delhi|
|  patna|
| mumbai|
+-------+

None

### Merging Two DataFrame

In [122]:
print(df1.show(),df4.show())

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|   A|   100|
|  2|   B|   200|
|  3|   C|   300|
|  4|   D|   400|
+---+----+------+

+-------+----+------+-------+
|orderid|name|salary|  place|
+-------+----+------+-------+
|      1|   x|   500|  patna|
|      3|   y|   700|  delhi|
|      4|   z|  1000| mumbai|
|      5|   p|   800|chennai|
+-------+----+------+-------+

None None

In [124]:
joint_df=df1.join(df4,df1.id==df4.orderid)

In [125]:
joint_df.show()

+---+----+------+-------+----+------+------+
| id|name|salary|orderid|name|salary| place|
+---+----+------+-------+----+------+------+
|  1|   A|   100|      1|   x|   500| patna|
|  3|   C|   300|      3|   y|   700| delhi|
|  4|   D|   400|      4|   z|  1000|mumbai|
+---+----+------+-------+----+------+------+

### Now we will work on duplicates record of a dataFrame
         first we will create a dataFrame "df5" where duplicate are present

    Check Below:-->>

In [5]:
df5=spark.createDataFrame([(1,'x','teacher',4000),(2,'y','engineer',4000),
                           (3,'x','plumber',1500),(4,'z','doctor',6000),
                          (4,'z','doctor',6000),(5,'p','nurse',3000)],
                          ['id','name','profession','salary'])

In [6]:
df5.show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

In [7]:
df5.count()

6

In [135]:
df5.dropDuplicates().orderBy('salary').show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  3|   x|   plumber|  1500|
|  5|   p|     nurse|  3000|
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  4|   z|    doctor|  6000|
+---+----+----------+------+

In [137]:
df5.show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

In [142]:
df5.dropDuplicates(['id']).show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  5|   p|     nurse|  3000|
|  1|   x|   teacher|  4000|
|  3|   x|   plumber|  1500|
|  2|   y|  engineer|  4000|
|  4|   z|    doctor|  6000|
+---+----+----------+------+

In [14]:
df5.dropDuplicates(['Salary']).show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  4|   z|    doctor|  6000|
|  3|   x|   plumber|  1500|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

### ".filter" function on DataFrame

In [15]:
df5.show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

In [32]:
print(df5.filter(df5.name=="x").collect())
print("\n")
print(type(df5.filter(df5.name=="x").collect()))

[Row(id=1, name='x', profession='teacher', salary=4000), Row(id=3, name='x', profession='plumber', salary=1500)]


<class 'list'>

In [36]:
print(df5.where(df5.name=="x").show())
print("\n")
print(type(df5.where(df5.name=="x").show()))

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  3|   x|   plumber|  1500|
+---+----+----------+------+

None


+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  3|   x|   plumber|  1500|
+---+----+----------+------+

<class 'NoneType'>

In [37]:
df5.show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

In [38]:
df5.filter((df5.name=='x')&(df5.salary==1500)).show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  3|   x|   plumber|  1500|
+---+----+----------+------+

In [39]:
df5.groupBy('profession').count().show()

+----------+-----+
|profession|count|
+----------+-----+
|   teacher|    1|
|     nurse|    1|
|  engineer|    1|
|   plumber|    1|
|    doctor|    2|
+----------+-----+

In [40]:
df5.groupBy('salary').count().show()

+------+-----+
|salary|count|
+------+-----+
|  4000|    2|
|  6000|    2|
|  1500|    1|
|  3000|    1|
+------+-----+

In [47]:
(df5.groupBy('salary').count()).show()

+------+-----+
|salary|count|
+------+-----+
|  4000|    2|
|  6000|    2|
|  1500|    1|
|  3000|    1|
+------+-----+

In [48]:
df5.show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

In [51]:
df5.orderBy('salary',desc=True).show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  3|   x|   plumber|  1500|
|  5|   p|     nurse|  3000|
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
+---+----+----------+------+

In [54]:
df1.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|   A|   100|
|  2|   B|   200|
|  3|   C|   300|
|  4|   D|   400|
+---+----+------+

In [4]:
df6=spark.createDataFrame([(1,'x','teacher',4000),(2,'y','engineer',400),
                           (4,'t','doctor',200),(5,'y','nurse',800)]
                          ,['id','name','profession','salary'])

In [71]:
print(df5.show())
print("\n")
print(df6.show())

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

None


+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|   400|
|  4|   t|    doctor|   200|
|  5|   y|     nurse|   800|
+---+----+----------+------+

None

In [72]:
df5.exceptAll(df6).show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
|  2|   y|  engineer|  4000|
+---+----+----------+------+

### Creating DataFrame With defined Schema
         Check Below:--->>

In [19]:
from pyspark.sql.types import (StringType,IntegerType,
                               FloatType,StructField,StructType)

In [24]:
dataTypes=[StructField('id',IntegerType(),True),
           StructField('name',StringType(),True),
           StructField('age',IntegerType(),True)]

In [25]:
schema=StructType(dataTypes)

In [26]:
df6=spark.createDataFrame([(1,'mohan',30),(2,'sohan',40),(3,'na',50)],schema=schema)

In [27]:
df6.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|mohan| 30|
|  2|sohan| 40|
|  3|   na| 50|
+---+-----+---+

In [28]:
df6.na.drop().show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|mohan| 30|
|  2|sohan| 40|
|  3|   na| 50|
+---+-----+---+

In [34]:
df6.head(2)

[Row(id=1, name='mohan', age=30), Row(id=2, name='sohan', age=40)]

In [39]:
df6.head(2)[0]

Row(id=1, name='mohan', age=30)

In [38]:
df6.head(2)[1].asDict()

{'id': 2, 'name': 'sohan', 'age': 40}

In [40]:
df5.show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

#### Adding new column which is derived from an existing column in a dataFrame
       function Used : df.withColumn('new column name',df.column)
       Check Below :-->>

In [42]:
df5.withColumn('new_salary',df5.salary*2).show()

+---+----+----------+------+----------+
| id|name|profession|salary|new_salary|
+---+----+----------+------+----------+
|  1|   x|   teacher|  4000|      8000|
|  2|   y|  engineer|  4000|      8000|
|  3|   x|   plumber|  1500|      3000|
|  4|   z|    doctor|  6000|     12000|
|  4|   z|    doctor|  6000|     12000|
|  5|   p|     nurse|  3000|      6000|
+---+----+----------+------+----------+

In [44]:
df5.show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

#### Replacing existing column of a dataFrame 
       function used "df.withColumn('existing column',df.column)"
       Check Below :-->>>

In [45]:
df5.withColumn('salary',df5.salary*2).show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  8000|
|  2|   y|  engineer|  8000|
|  3|   x|   plumber|  3000|
|  4|   z|    doctor| 12000|
|  4|   z|    doctor| 12000|
|  5|   p|     nurse|  6000|
+---+----+----------+------+

#### Renaming a column in dataFrame
     function used =df.withColumRenamed('existing column name','new name')

In [49]:
df5.withColumnRenamed('id','student_id').show()

+----------+----+----------+------+
|student_id|name|profession|salary|
+----------+----+----------+------+
|         1|   x|   teacher|  4000|
|         2|   y|  engineer|  4000|
|         3|   x|   plumber|  1500|
|         4|   z|    doctor|  6000|
|         4|   z|    doctor|  6000|
|         5|   p|     nurse|  3000|
+----------+----+----------+------+

In [50]:
df5.show()

+---+----+----------+------+
| id|name|profession|salary|
+---+----+----------+------+
|  1|   x|   teacher|  4000|
|  2|   y|  engineer|  4000|
|  3|   x|   plumber|  1500|
|  4|   z|    doctor|  6000|
|  4|   z|    doctor|  6000|
|  5|   p|     nurse|  3000|
+---+----+----------+------+

In [57]:
## This is the code to write the dataframe output in file and save the file in defined location
       #But this is not working due to some windows version compatibility issue

df5.select("profession").coalesce(1).write.format("text").option("heade","false").mode("append").save("df5.txt")

Py4JJavaError: An error occurred while calling o859.save.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:226)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:178)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:123)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:211)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:208)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:109)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:828)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$4(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:87)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:828)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:309)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:293)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:236)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:567)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:830)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 46.0 failed 1 times, most recent failure: Lost task 0.0 in stage 46.0 (TID 89, cpc, executor driver): java.io.IOException: Cannot run program "C:\spark\spark-3.0.0-preview2-bin-hadoop2.7\bin\winutils.exe": CreateProcess error=216, This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1128)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1071)
	at org.apache.hadoop.util.Shell.runCommand(Shell.java:523)
	at org.apache.hadoop.util.Shell.run(Shell.java:482)
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:776)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:869)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:852)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.text.TextOutputWriter.<init>(TextOutputWriter.scala:33)
	at org.apache.spark.sql.execution.datasources.text.TextFileFormat$$anon$1.newInstance(TextFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:126)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:111)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:264)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$15(FileFormatWriter.scala:205)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:441)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:444)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:830)
Caused by: java.io.IOException: CreateProcess error=216, This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher
	at java.base/java.lang.ProcessImpl.create(Native Method)
	at java.base/java.lang.ProcessImpl.<init>(ProcessImpl.java:483)
	at java.base/java.lang.ProcessImpl.start(ProcessImpl.java:158)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1107)
	... 33 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:1989)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:1977)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:1976)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1976)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:956)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:956)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:956)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2155)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2144)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:758)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2116)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:195)
	... 30 more
Caused by: java.io.IOException: Cannot run program "C:\spark\spark-3.0.0-preview2-bin-hadoop2.7\bin\winutils.exe": CreateProcess error=216, This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1128)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1071)
	at org.apache.hadoop.util.Shell.runCommand(Shell.java:523)
	at org.apache.hadoop.util.Shell.run(Shell.java:482)
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:776)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:869)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:852)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.text.TextOutputWriter.<init>(TextOutputWriter.scala:33)
	at org.apache.spark.sql.execution.datasources.text.TextFileFormat$$anon$1.newInstance(TextFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:126)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:111)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:264)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$15(FileFormatWriter.scala:205)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:441)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:444)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: java.io.IOException: CreateProcess error=216, This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher
	at java.base/java.lang.ProcessImpl.create(Native Method)
	at java.base/java.lang.ProcessImpl.<init>(ProcessImpl.java:483)
	at java.base/java.lang.ProcessImpl.start(ProcessImpl.java:158)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1107)
	... 33 more

In [58]:
df5.select("profession").alias("naukri").show()

+----------+
|profession|
+----------+
|   teacher|
|  engineer|
|   plumber|
|    doctor|
|    doctor|
|     nurse|
+----------+