In [2]:
import pyspark
from pyspark.sql import Row
from pyspark import SparkConf
from pyspark import SparkContext
sc=SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
from pyspark.sql import *
from pyspark.sql import SQLContext
import time

There are two method to create DataFrame in spark 

          1.using SQLContext
          2.Using SparkSession
          
      In spark previous version there was no any concept of SparkSession then, we were using SQLContext
      
      But from Spark version 2 they introduced SparkSession and name of SparkSession will be 'spark' ideally

 Creating SQLContext 
 
    To create sqlcontext we use 'sc' (which has been created in irst cell of this notebook.)
    so basically to create sqlcontext we need this check below -->>> check below
        imports needed : 
             from pyspark import SparkConf
             from pyspark import SparkContext
             sc=SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
             from pyspark.sql import *
             from pyspark.sql import SQLContext

             sqlcontext=SQLContext(sc)

Creating SparkSession

To create SparkSession we use below imports and code.
--->>>> imports needed :

        from pyspark.sql import SparkSession
        spark=SparkSession.builder.appName('New').getOrCreate()

In [ ]:
# creating sqlcontext as mentioned above.
sqlcontext=SQLContext(sc)

In [ ]:
# creating sparksession as mentioned above.
spark=SparkSession.builder.appName('New').getOrCreate()

In [5]:
# checking whether sparksession has been created or not.
spark

In [47]:
#checking whether sqlcontext has been created or not.
sqlcontext

In [12]:
# checking whether SparkContext has been created or not.-- sparksession is required to create sqlcontext.
sc

In [43]:
lst=[("A",100),("B",20),("C",30),("D",40)]
# creating RDD using sparkContext 'sc'
rdd=sc.parallelize(lst)
rdd.collect()

[('A', 100), ('B', 20), ('C', 30), ('D', 40)]

creating dataframe from a RDD using sqlcontext

check below -->>>

In [44]:
# creating dataframe from RDD created above as 'rdd' 
rdd_df=sqlcontext.createDataFrame(rdd)
rdd_df.show()

+---+---+
| _1| _2|
+---+---+
|  A|100|
|  B| 20|
|  C| 30|
|  D| 40|
+---+---+

In [16]:
pyspark

#### Creating DataFrame from SQLContext:
    
    check below:->>>

In [15]:
file_df=sqlcontext.read.csv("file:///C:/Users/ckp43_000/Documents/generic-food.csv",inferSchema=True,header=True)

#### Creating DataFrame SparkSession named 'spark':
    
    check Below :-->>

In [ ]:
file_df_spark=spark.read.csv("file:///C:/Users/ckp43_000/Documents/generic-food.csv",inferSchema=True,header=True)

In [9]:
# checking dataframe created by reading file using sparksession 
file_df_spark

DataFrame[FOODNAME: string, SCIENTIFICNAME: string, GROUP: string, SUBGROUP: string]

In [130]:
# checking dataframe created by reading file using sqlcontext.
file_df

DataFrame[FOODNAME: string, SCIENTIFICNAME: string, GROUP: string, SUBGROUP: string]

In [131]:
file_df.show()

+--------------+--------------------+----------------+--------------------+
|      FOODNAME|      SCIENTIFICNAME|           GROUP|            SUBGROUP|
+--------------+--------------------+----------------+--------------------+
|      Angelica|    Angelica keiskei|Herbs and Spices|               Herbs|
| Savoy cabbage|Brassica oleracea...|      Vegetables|            Cabbages|
| Silver linden|      Tilia argentea|Herbs and Spices|               Herbs|
|          Kiwi| Actinidia chinensis|          Fruits|     Tropical fruits|
|Allium (Onion)|              Allium|      Vegetables|Onion-family vege...|
|  Garden onion|         Allium cepa|      Vegetables|Onion-family vege...|
|          Leek|       Allium porrum|      Vegetables|Onion-family vege...|
|        Garlic|      Allium sativum|Herbs and Spices|               Herbs|
|        Chives|Allium schoenoprasum|Herbs and Spices|               Herbs|
| Lemon verbena|   Aloysia triphylla|Herbs and Spices|               Herbs|
|    Cashew nut|Anacardium occide...|            Nuts|                Nuts|
|     Pineapple|      Ananas comosus|          Fruits|     Tropical fruits|
|          Dill|  Anethum graveolens|Herbs and Spices|               Herbs|
| Custard apple|   Annona reticulata|          Fruits|     Tropical fruits|
|   Wild celery|    Apium graveolens|Herbs and Spices|              Spices|
|        Peanut|    Arachis hypogaea|            Nuts|                Nuts|
|       Burdock|       Arctium lappa|      Vegetables|     Root vegetables|
|   Horseradish| Armoracia rusticana|Herbs and Spices|              Spices|
|      Tarragon|Artemisia dracunc...|Herbs and Spices|               Herbs|
|       Mugwort|  Artemisia vulgaris|Herbs and Spices|               Herbs|
+--------------+--------------------+----------------+--------------------+
only showing top 20 rows

In [53]:
file_df.printSchema()

root
 |-- FOOD NAME: string (nullable = true)
 |-- SCIENTIFIC NAME: string (nullable = true)
 |-- GROUP: string (nullable = true)
 |-- SUB GROUP: string (nullable = true)

# in above o/p collumns are nullable means if no values are given it will take 'NULL' automatically.

In [57]:
file_df.columns

['FOOD NAME', 'SCIENTIFIC NAME', 'GROUP', 'SUB GROUP']

In [58]:
file_df.count()

907

#### Displaying number of columns of spark dataFrame

In [59]:
len(file_df.columns)

4

In [75]:
file_df.describe("scientificname").show()

+-------+--------------------+
|summary|      scientificname|
+-------+--------------------+
|  count|                 900|
|   mean|                null|
| stddev|                null|
|    min|Abelmoschus escul...|
|    max|  Zoarces americanus|
+-------+--------------------+

In [81]:
file_df.select("SCIENTIFICNAME").count()

907

In [80]:
file_df.filter(file_df.SCIENTIFICNAME=='Allium').count()

1

In [24]:
file_df.filter(SCIENTIFICNAME=='Allium').count()

NameError: name 'SCIENTIFICNAME' is not defined

#### After filter condition to access any column name we have to write like this:
    df.column_name=='any condition'
    Check Above exmple

In [16]:
file_df.filter(file_df.GROUP=='Vegetables').show(5)

+--------------+--------------------+----------+--------------------+
|      FOODNAME|      SCIENTIFICNAME|     GROUP|            SUBGROUP|
+--------------+--------------------+----------+--------------------+
| Savoy cabbage|Brassica oleracea...|Vegetables|            Cabbages|
|Allium (Onion)|              Allium|Vegetables|Onion-family vege...|
|  Garden onion|         Allium cepa|Vegetables|Onion-family vege...|
|          Leek|       Allium porrum|Vegetables|Onion-family vege...|
|       Burdock|       Arctium lappa|Vegetables|     Root vegetables|
+--------------+--------------------+----------+--------------------+
only showing top 5 rows

In [17]:
type(file_df.filter(file_df.GROUP=='Vegetables'))

pyspark.sql.dataframe.DataFrame

#### After filter we are getting a type of dataFrame(Check above), therefore we can perform all the actions which is applicable to a dataFrame:
    Here after filter condition we are selecting some column names from DataFrame
    Check Below:-->>

#### With filter condition selecting multiple columns from DataFrame:
       Check Below::-->>

In [21]:
file_df.filter(file_df.GROUP=='Vegetables').select("FOODNAME","GROUP").show(5)

+--------------+----------+
|      FOODNAME|     GROUP|
+--------------+----------+
| Savoy cabbage|Vegetables|
|Allium (Onion)|Vegetables|
|  Garden onion|Vegetables|
|          Leek|Vegetables|
|       Burdock|Vegetables|
+--------------+----------+
only showing top 5 rows

#### After filter condition performing dataFrame actions like '.describe()' and '.printSchema()'

      Check Below Spark Code:-->>

In [32]:
print(file_df.filter(file_df.GROUP=='Vegetables').describe())
print("\n")
print(file_df.filter(file_df.GROUP=='Vegatables').printSchema())

DataFrame[summary: string, FOODNAME: string, SCIENTIFICNAME: string, GROUP: string, SUBGROUP: string]


root
 |-- FOODNAME: string (nullable = true)
 |-- SCIENTIFICNAME: string (nullable = true)
 |-- GROUP: string (nullable = true)
 |-- SUBGROUP: string (nullable = true)

None

#### Applying multiple filter conditions on DataFRame:
           Check Below spark code:-->>>

In [36]:
file_df.filter((file_df.GROUP=='Vegetables') & (file_df.SUBGROUP=='Cabbages')).show(10)

+-----------------+--------------------+----------+--------+
|         FOODNAME|      SCIENTIFICNAME|     GROUP|SUBGROUP|
+-----------------+--------------------+----------+--------+
|    Savoy cabbage|Brassica oleracea...|Vegetables|Cabbages|
|  Chinese mustard|     Brassica juncea|Vegetables|Cabbages|
|   Common cabbage|   Brassica oleracea|Vegetables|Cabbages|
|      Cauliflower|Brassica oleracea...|Vegetables|Cabbages|
|  Brussel sprouts|Brassica oleracea...|Vegetables|Cabbages|
|         Broccoli|Brassica oleracea...|Vegetables|Cabbages|
|  Chinese cabbage|       Brassica rapa|Vegetables|Cabbages|
|Tronchuda cabbage|Brassica oleracea...|Vegetables|Cabbages|
|    Black cabbage|Brassica oleracea...|Vegetables|Cabbages|
|        Komatsuna|Brassica rapa var...|Vegetables|Cabbages|
+-----------------+--------------------+----------+--------+
only showing top 10 rows

## "orderBy" on dataFrame

In [37]:
file_df.orderBy(file_df.GROUP).show(10)

+------------+------------------+------------+-------------+
|    FOODNAME|    SCIENTIFICNAME|       GROUP|     SUBGROUP|
+------------+------------------+------------+-------------+
|   Wild boar|        Sus scrofa|Animal foods|        Swine|
|  Guinea hen|  Numida meleagris|Animal foods|      Poultry|
|  Brown bear|      Ursus arctos|Animal foods|Other mammals|
|       Bison|       Bison bison|Animal foods|      Bovines|
|     Buffalo|   Bubalus bubalis|Animal foods|      Bovines|
|   Mule deer|        Odocoileus|Animal foods|      Venison|
|Mallard duck|Anas platyrhynchos|Animal foods|      Poultry|
|      Beaver| Castor canadensis|Animal foods|      Rodents|
|         Elk| Cervus canadensis|Animal foods|      Venison|
|     Caribou| Rangifer tarandus|Animal foods|      Venison|
+------------+------------------+------------+-------------+
only showing top 10 rows

In [45]:
from pyspark.sql.functions import *

In [50]:
desc

#### We need to to import functions like 'desc' from  packege "pyspark.sql.functions":
      Check Below SPark Code:-->>

In [55]:
print(file_df.orderBy("GROUP").show(5))
print(file_df.orderBy(["GROUP","SUBGROUP"],acsending=[0,1]).show(5))
print(file_df.orderBy(desc("GROUP")).show(5))
print(file_df.orderBy(desc("GROUP")).show(4))

+----------+-----------------+------------+-------------+
|  FOODNAME|   SCIENTIFICNAME|       GROUP|     SUBGROUP|
+----------+-----------------+------------+-------------+
|    Beaver|Castor canadensis|Animal foods|      Rodents|
|   Buffalo|  Bubalus bubalis|Animal foods|      Bovines|
|     Bison|      Bison bison|Animal foods|      Bovines|
|Black bear| Ursus americanus|Animal foods|Other mammals|
| Wild boar|       Sus scrofa|Animal foods|        Swine|
+----------+-----------------+------------+-------------+
only showing top 5 rows

None
+-------------------+--------------------+------------+------------+
|           FOODNAME|      SCIENTIFICNAME|       GROUP|    SUBGROUP|
+-------------------+--------------------+------------+------------+
|       Animal foods|                NULL|Animal foods|Animal foods|
|            Buffalo|     Bubalus bubalis|Animal foods|     Bovines|
|Cattle (Beef, Veal)|          Bos taurus|Animal foods|     Bovines|
|            Beefalo|Bos taurus X Biso...|Animal foods|     Bovines|
|              Bison|         Bison bison|Animal foods|     Bovines|
+-------------------+--------------------+------------+------------+
only showing top 5 rows

None
+---------------+--------------------+----------+----------------+
|       FOODNAME|      SCIENTIFICNAME|     GROUP|        SUBGROUP|
+---------------+--------------------+----------+----------------+
|Chinese mustard|     Brassica juncea|Vegetables|        Cabbages|
|    Common beet|       Beta vulgaris|Vegetables| Leaf vegetables|
|        Burdock|       Arctium lappa|Vegetables| Root vegetables|
|  Savoy cabbage|Brassica oleracea...|Vegetables|        Cabbages|
|      Asparagus|Asparagus officin...|Vegetables|Shoot vegetables|
+---------------+--------------------+----------+----------------+
only showing top 5 rows

None
+-------------+--------------------+----------+--------------------+
|     FOODNAME|      SCIENTIFICNAME|     GROUP|            SUBGROUP|
+-------------+--------------------+----------+--------------------+
|         Leek|       Allium porrum|Vegetables|Onion-family vege...|
|    Asparagus|Asparagus officin...|Vegetables|    Shoot vegetables|
|      Burdock|       Arctium lappa|Vegetables|     Root vegetables|
|Savoy cabbage|Brassica oleracea...|Vegetables|            Cabbages|
+-------------+--------------------+----------+--------------------+
only showing top 4 rows

None

#### Registering DataFrame as a table --  
This comes under 'SparkSQL' portion of PySpark.

         Check Below Code:-->>

In [56]:
file_table=file_df.createOrReplaceTempView('file_Table')

In [57]:
sqlcontext.sql("select * from file_table").show(5)

+--------------+--------------------+----------------+--------------------+
|      FOODNAME|      SCIENTIFICNAME|           GROUP|            SUBGROUP|
+--------------+--------------------+----------------+--------------------+
|      Angelica|    Angelica keiskei|Herbs and Spices|               Herbs|
| Savoy cabbage|Brassica oleracea...|      Vegetables|            Cabbages|
| Silver linden|      Tilia argentea|Herbs and Spices|               Herbs|
|          Kiwi| Actinidia chinensis|          Fruits|     Tropical fruits|
|Allium (Onion)|              Allium|      Vegetables|Onion-family vege...|
+--------------+--------------------+----------------+--------------------+
only showing top 5 rows

In [97]:
sqlcontext.sql("select count(*) from file_Table").show()

+--------+
|count(1)|
+--------+
|     907|
+--------+

In [1]:
# Printing time in required format with the help of 'strftime' function of python module 'time' 
#(Although here format is wrong actually '%M' returns minutes which is used for printing)
print("current time:",time.strftime("%Y-%M-%D %H-%M-%S"))
sqlcontext.sql("select * from file_Table where group='Vegetables'").show(5)
print("currenttime :",time.strftime("%Y-%M-%D %H-%M-%S"))

NameError: name 'time' is not defined

In [62]:
sqlcontext.sql("select * from file_Table").show(5)

+--------------+--------------------+----------------+--------------------+
|      FOODNAME|      SCIENTIFICNAME|           GROUP|            SUBGROUP|
+--------------+--------------------+----------------+--------------------+
|      Angelica|    Angelica keiskei|Herbs and Spices|               Herbs|
| Savoy cabbage|Brassica oleracea...|      Vegetables|            Cabbages|
| Silver linden|      Tilia argentea|Herbs and Spices|               Herbs|
|          Kiwi| Actinidia chinensis|          Fruits|     Tropical fruits|
|Allium (Onion)|              Allium|      Vegetables|Onion-family vege...|
+--------------+--------------------+----------------+--------------------+
only showing top 5 rows

In [5]:
input_file_path="file:///C:/Users/ckp43_000/Documents/heroes_information.csv"

# Reading a csv file with sqlcontext to create spark/pyspark dataframe.
hero_df=sqlcontext.read.csv(input_file_path,inferSchema=True,header=True)

In [6]:
hero_df.show(5)

+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|       name|Gender|Eye_color|             Race|Hair_color|Height|        Publisher|Skin_color|Alignment|Weight|
+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|     A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1| Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|   Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|    Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 5 rows

In [112]:
hero_df.count()

734

In [113]:
hero_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair color: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: double (nullable = true)

Applying 'filter' condition on spark/pyspark dataframe.

In [65]:
hero_df.filter(hero_df.Gender=='Male').show(5)

+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|       name|Gender|Eye_color|             Race|Hair_color|Height|        Publisher|Skin_color|Alignment|Weight|
+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|     A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1| Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|   Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|    Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 5 rows

In [117]:
hero_df.filter(hero_df.Gender=='Male').count()

505

In [ ]:
hero_df

### ".groupBy" on spark/pyspark DataFrame
       Check Below Spark Code:-->>

In [82]:
print(type(hero_df.groupBy('Race')))
print("\n")
print(type(hero_df.orderBy('Weight')))
print("\n")
print(hero_df.groupBy('Race').count())

<class 'pyspark.sql.group.GroupedData'>


<class 'pyspark.sql.dataframe.DataFrame'>


DataFrame[Race: string, count: bigint]

In [ ]:
hero_df.groupBy('Race').count()

In [66]:
hero_df.groupBy('Race')\
.count()\
.show(10)

+-----------------+-----+
|             Race|count|
+-----------------+-----+
|            Human|  208|
|    Icthyo Sapien|    1|
|          Ungaran|    1|
|Human / Radiation|   11|
|    Cosmic Entity|    4|
|                -|  304|
|           Cyborg|   11|
|  Xenomorph XX121|    1|
|          Android|    9|
|          Vampire|    2|
+-----------------+-----+
only showing top 10 rows

In [120]:
race_df=hero_df.groupBy('Alignment')\
.count()\
.show()

+---------+-----+
|Alignment|count|
+---------+-----+
|     good|  496|
|      bad|  207|
|        -|    7|
|  neutral|   24|
+---------+-----+

In [67]:
hero_df.orderBy('Weight',desc=True).show(10)

+---+--------------+------+---------+-------------+----------+------+-----------------+----------+---------+------+
|_c0|          name|Gender|Eye_color|         Race|Hair_color|Height|        Publisher|Skin_color|Alignment|Weight|
+---+--------------+------+---------+-------------+----------+------+-----------------+----------+---------+------+
|286|      Godzilla|     -|        -|        Kaiju|         -| 108.0|             null|      grey|      bad|  null|
|389|     King Kong|  Male|   yellow|       Animal|     Black|  30.5|             null|         -|     good|  null|
| 35|      Aquababy|  Male|     blue|            -|     Blond| -99.0|        DC Comics|         -|     good| -99.0|
| 32|    Anti-Spawn|  Male|        -|            -|         -| -99.0|     Image Comics|         -|      bad| -99.0|
|  4|       Abraxas|  Male|     blue|Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
| 31|  Anti-Monitor|  Male|   yellow|God / Eternal|   No Hair|  61.0|        DC Comics|         -|      bad| -99.0|
| 23|         Angel|  Male|        -|      Vampire|         -| -99.0|Dark Horse Comics|         -|     good| -99.0|
|  6|   Adam Monroe|  Male|     blue|            -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
| 15|  Alex Woolsly|  Male|        -|            -|         -| -99.0|     NBC - Heroes|         -|     good| -99.0|
| 21|Ando Masahashi|  Male|        -|            -|         -| -99.0|     NBC - Heroes|         -|     good| -99.0|
+---+--------------+------+---------+-------------+----------+------+-----------------+----------+---------+------+
only showing top 10 rows

In [90]:
import time

In [94]:
print('current_time=',time.strftime("%Y-%M-%D-%H-%M-%S"))
print(hero_df.orderBy('Weight',ascending=False).show(10))
print('current_time=',time.strftime("%Y-%M-%D-%H-%M-%S"))     
print(hero_df.sort(desc("Weight")).show(10))
print('current_time=',time.strftime("%Y-%M-%D-%H-%M-%S"))

current_time= 2021-14-01/10/21-17-14-01
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|      name|Gender|Eye_color|             Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575| Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|  Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|283|   Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|549|  Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|331|      Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|  Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718| Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|    Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|    A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 10 rows

None
current_time= 2021-14-01/10/21-17-14-01
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|      name|Gender|Eye_color|             Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575| Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|  Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|283|   Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|549|  Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|331|      Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|  Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718| Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|    Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|    A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 10 rows

None
current_time= 2021-14-01/10/21-17-14-02

                             ***Difference Between "sort" and "orderBy" ***
#### sort() function sorts the output in each bucket by the given columns on the file system.It does not guaranty the order of output data. Whereas The orderBy() happens in two phase .

#### First inside each bucket using sortBy() then entire data has to be brought into a single executer for over all order in ascending order or descending order based on the specified column. It involves high shuffling and is a costly operation. But as

#### The sort() operation happen inside each an individual bucket and is a light weight operation.
#### The SORT BY clause is used to return the result rows sorted within each partition in the user specified order.
#### When there is more than one partition SORT BY may return result that is partially ordered

In [69]:
 hero_df.sort(hero_df.Weight.desc())\
    .show(10)

+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|      name|Gender|Eye_color|             Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575| Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|  Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|283|   Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|549|  Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|331|      Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|  Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718| Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|    Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|    A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 10 rows

In [83]:
hero_df.sort(hero_df.Height.desc()).show(10)

+---+-------------+------+---------+---------------+----------+------+-------------+----------+---------+------+
|_c0|         name|Gender|Eye_color|           Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+-------------+------+---------+---------------+----------+------+-------------+----------+---------+------+
|255|Fin Fang Foom|  Male|      red|Kakarantharaian|   No Hair| 975.0|Marvel Comics|     green|     good|  18.0|
|272|     Galactus|  Male|    black|  Cosmic Entity|     Black| 876.0|Marvel Comics|         -|  neutral|  16.0|
|302|        Groot|  Male|   yellow| Flora Colossus|         -| 701.0|Marvel Comics|         -|     good|   4.0|
|463|        MODOK|  Male|    white|         Cyborg|    Brownn| 366.0|Marvel Comics|         -|      bad| 338.0|
|718|    Wolfsbane|Female|    green|              -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|575|    Sasquatch|  Male|      red|              -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|504|    Onslaught|  Male|      red|         Mutant|   No Hair| 305.0|Marvel Comics|         -|      bad| 405.0|
|730|         Ymir|  Male|    white|    Frost Giant|   No Hair| 304.8|Marvel Comics|     white|     good| -99.0|
|557|          Rey|Female|    hazel|          Human|     Brown| 297.0| George Lucas|         -|     good| -99.0|
|373|   Juggernaut|  Male|     blue|          Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
+---+-------------+------+---------+---------------+----------+------+-------------+----------+---------+------+
only showing top 10 rows

In [143]:
DC_hero=hero_df.filter(hero_df.Publisher=='DC Comics')

In [145]:
DC_hero.count()

215

In [84]:
hero_df.groupBy('Publisher')\
.count()\
.show(5)

+-----------------+-----+
|        Publisher|count|
+-----------------+-----+
|    Marvel Comics|  388|
|Dark Horse Comics|   18|
|        DC Comics|  215|
|     NBC - Heroes|   19|
|        Wildstorm|    3|
+-----------------+-----+
only showing top 5 rows

#### Registering a dataFrame as a table 
     Check Below Spark Code:

In [95]:
hero_df.createOrReplaceTempView('hero_Table')

In [96]:
sqlcontext.sql("select count(*) from hero_Table").show()

+--------+
|count(1)|
+--------+
|     734|
+--------+

In [149]:
hero_df.count()

734

In [150]:
hero_df.count()

734

In [99]:
sqlcontext.sql("""select 
                  ROW_NUMBER()over( partition by Alignment order by Weight desc) 
                  row_num_orderby,Eye_color,Skin_color,Weight,Alignment 
                  from hero_Table""").show(100)

+---------------+---------+----------+------+---------+
|row_num_orderby|Eye_color|Skin_color|Weight|Alignment|
+---------------+---------+----------+------+---------+
|              1|     blue|         -| 358.0|        -|
|              2|      red|         -|  88.0|        -|
|              3|     blue|         -|  81.0|        -|
|              4|        -|         -| -99.0|        -|
|              5|     blue|         -| -99.0|        -|
|              6|        -|         -| -99.0|        -|
|              7|        -|         -| -99.0|        -|
|              1|      red|      grey| 817.0|      bad|
|              2|    green|         -| 630.0|      bad|
|              3|     blue|         -| 495.0|      bad|
|              4|      red|    purple| 443.0|      bad|
|              5|    green|         -| 441.0|      bad|
|              6|    black|         -| 437.0|      bad|
|              7|      red|         -| 412.0|      bad|
|              8|      red|         -| 405.0|      bad|
|              9|        -|         -| 383.0|      bad|
|             10|   yellow|         -| 360.0|      bad|
|             11|      red|     green| 356.0|      bad|
|             12|    white|         -| 338.0|      bad|
|             13|    brown|         -| 334.0|      bad|
|             14|      red|    silver| 331.0|      bad|
|             15|    brown|         -| 320.0|      bad|
|             16|    brown|         -| 310.0|      bad|
|             17|   yellow|         -| 270.0|      bad|
|             18|     gold|         -| 248.0|      bad|
|             19|    green|         -| 236.0|      bad|
|             20|        -|         -| 234.0|      bad|
|             21|    brown|         -| 230.0|      bad|
|             22|      red|         -| 230.0|      bad|
|             23|    green|         -| 225.0|      bad|
|             24|     blue|         -| 203.0|      bad|
|             25|     grey|      grey| 203.0|      bad|
|             26|      red|         -| 198.0|      bad|
|             27|      red|         -| 191.0|      bad|
|             28|    brown|         -| 187.0|      bad|
|             29|        -|         -| 180.0|      bad|
|             30|      red|         -| 176.0|      bad|
|             31|      red|         -| 173.0|      bad|
|             32|    amber|         -| 171.0|      bad|
|             33|        -|     black| 169.0|      bad|
|             34|     blue|         -| 162.0|      bad|
|             35|        -|    silver| 149.0|      bad|
|             36|        -|    silver| 146.0|      bad|
|             37|    white|         -| 140.0|      bad|
|             38|      red|      grey| 135.0|      bad|
|             39|     blue|         -| 135.0|      bad|
|             40|    green|     green| 135.0|      bad|
|             41|   yellow|         -| 135.0|      bad|
|             42|    brown|         -| 132.0|      bad|
|             43|      red|         -| 128.0|      bad|
|             44|     blue|         -| 126.0|      bad|
|             45|     blue|         -| 122.0|      bad|
|             46|    brown|         -| 119.0|      bad|
|             47|     blue|         -| 117.0|      bad|
|             48|     blue|         -| 117.0|      bad|
|             49|     blue|         -| 115.0|      bad|
|             50|    brown|         -| 113.0|      bad|
|             51|     blue|         -| 113.0|      bad|
|             52|    brown|         -| 110.0|      bad|
|             53|     blue|         -| 108.0|      bad|
|             54|     blue|         -| 108.0|      bad|
|             55|      red|     green| 106.0|      bad|
|             56|    brown|         -| 106.0|      bad|
|             57|      red|     white| 104.0|      bad|
|             58|    white|         -| 104.0|      bad|
|             59|    brown|         -| 104.0|      bad|
|             60|    brown|         -| 104.0|      bad|
|             61|    brown|         -| 101.0|      bad|
|             62|    brown|         -|  99.0|      bad|
|             63|    brown|         -|  99.0|      bad|
|             64|    brown|         -|  99.0|      bad|
|             65|      red|       red|  97.0|      bad|
|             66|     blue|         -|  97.0|      bad|
|             67|    green|         -|  97.0|      bad|
|             68|     blue|         -|  96.0|      bad|
|             69|      red|         -|  95.0|      bad|
|             70|    white|         -|  95.0|      bad|
|             71|    green|         -|  95.0|      bad|
|             72|     blue|         -|  95.0|      bad|
|             73|     blue|         -|  95.0|      bad|
|             74|    black|         -|  92.0|      bad|
|             75|    brown|         -|  91.0|      bad|
|             76|      red|     white|  91.0|      bad|
|             77|    brown|         -|  90.0|      bad|
|             78|    green|         -|  90.0|      bad|
|             79|     blue|         -|  90.0|      bad|
|             80|    brown|         -|  90.0|      bad|
|             81|    green|         -|  90.0|      bad|
|             82|     blue|       red|  88.0|      bad|
|             83|    green|         -|  87.0|      bad|
|             84|     blue|         -|  86.0|      bad|
|             85|    green|         -|  86.0|      bad|
|             86|    brown|         -|  86.0|      bad|
|             87|    green|     white|  86.0|      bad|
|             88|     grey|         -|  86.0|      bad|
|             89|        -|         -|  86.0|      bad|
|             90|     blue|         -|  85.0|      bad|
|             91|     blue|         -|  83.0|      bad|
|             92|     blue|         -|  83.0|      bad|
|             93|     blue|      blue|  83.0|      bad|
+---------------+---------+----------+------+---------+
only showing top 100 rows

In [101]:
sqlcontext\
.sql("""select *, 
     ROW_NUMBER()over(Partition by Race order by Height desc,Weight desc) part_col 
     from hero_Table""")\
.show(50)

+---+----------------+------+-----------+----+----------+------+-------------+----------+---------+------+--------+
|_c0|            name|Gender|  Eye_color|Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|part_col|
+---+----------------+------+-----------+----+----------+------+-------------+----------+---------+------+--------+
|718|       Wolfsbane|Female|      green|   -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|       1|
|575|       Sasquatch|  Male|        red|   -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|       2|
|179|           Cloak|  Male|      brown|   -|     black| 226.0|Marvel Comics|         -|     good|  70.0|       3|
|667|         Thundra|Female|      green|   -|       Red| 218.0|Marvel Comics|         -|     good| 158.0|       4|
|428|       Man-Thing|  Male|        red|   -|   No Hair| 213.0|Marvel Comics|     green|     good| 225.0|       5|
|500|       Omega Red|  Male|        red|   -|     Blond| 211.0|Marvel Comics|         -|      bad| 191.0|       6|
|270|          Frenzy|Female|      brown|   -|     Black| 211.0|Marvel Comics|         -|      bad| 104.0|       7|
| 78|   Beta Ray Bill|  Male|          -|   -|   No Hair| 201.0|Marvel Comics|         -|     good| 216.0|       8|
|222|  Doctor Doom II|  Male|      brown|   -|     Brown| 201.0|Marvel Comics|         -|      bad| 132.0|       9|
|637|           Steel|  Male|      brown|   -|   No Hair| 201.0|    DC Comics|         -|     good| 131.0|      10|
|409|    Living Brain|     -|     yellow|   -|         -| 198.0|Marvel Comics|         -|      bad| 360.0|      11|
|666|   Thunderstrike|  Male|       blue|   -|     Blond| 198.0|Marvel Comics|         -|     good| 288.0|      12|
|607|           Skaar|  Male|      green|   -|     Black| 198.0|Marvel Comics|         -|     good| 180.0|      13|
|443|        Mephisto|  Male|      white|   -|     Black| 198.0|Marvel Comics|         -|      bad| 140.0|      14|
| 71|      Battlestar|  Male|      brown|   -|     Black| 198.0|Marvel Comics|         -|     good| 133.0|      15|
|467|      Molten Man|  Male|       gold|   -|      Gold| 196.0|Marvel Comics|         -|      bad| 248.0|      16|
|724|  Wyatt Wingfoot|  Male|      brown|   -|     Black| 196.0|Marvel Comics|         -|     good| 117.0|      17|
|230|    Doppelganger|  Male|      white|   -|   No Hair| 196.0|Marvel Comics|         -|      bad| 104.0|      18|
|249|   Fabian Cortez|     -|       blue|   -|     Brown| 196.0|Marvel Comics|         -|      bad|  96.0|      19|
|133|         Box III|     -|       blue|   -|     Blond| 193.0|Marvel Comics|         -|     good| 110.0|      20|
|438|        Maverick|  Male|       blue|   -|     Black| 193.0|Marvel Comics|         -|     good| 110.0|      21|
|257|        Firelord|     -|      white|   -|    Yellow| 193.0|Marvel Comics|         -|     good|  99.0|      22|
|468|         Monarch|  Male|       blue|   -|     White| 193.0|    DC Comics|         -|     good|  90.0|      23|
|686|        Valkyrie|Female|       blue|   -|     Blond| 191.0|Marvel Comics|         -|     good| 214.0|      24|
|700|       Vision II|     -|        red|   -|   No Hair| 191.0|Marvel Comics|         -|     good| 135.0|      25|
|546|   Razor-Fist II|  Male|       blue|   -|   No Hair| 191.0|Marvel Comics|         -|      bad| 117.0|      26|
| 94|      Black Adam|  Male|      brown|   -|     Black| 191.0|    DC Comics|         -|      bad| 113.0|      27|
| 10|      Agent Zero|  Male|          -|   -|         -| 191.0|Marvel Comics|         -|     good| 104.0|      28|
|378|            Kang|  Male|      brown|   -|     Brown| 191.0|Marvel Comics|         -|      bad| 104.0|      29|
|408|  Lightning Lord|  Male|       blue|   -|       Red| 191.0|    DC Comics|         -|      bad|  95.0|      30|
|590|     Shatterstar|  Male|      brown|   -|       Red| 191.0|Marvel Comics|         -|     good|  88.0|      31|
|186|         Corsair|  Male|      brown|   -|     Brown| 191.0|Marvel Comics|         -|     good|  79.0|      32|
|217|       Destroyer|  Male|          -|   -|         -| 188.0|Marvel Comics|         -|      bad| 383.0|      33|
|721|      Wonder Man|  Male|        red|   -|     Black| 188.0|Marvel Comics|         -|     good| 171.0|      34|
|336|       Hydro-Man|  Male|      brown|   -|     Brown| 188.0|Marvel Comics|         -|      bad| 119.0|      35|
|362|          Jigsaw|  Male|       blue|   -|     Black| 188.0|Marvel Comics|         -|      bad| 113.0|      36|
| 11|      Air-Walker|  Male|       blue|   -|     White| 188.0|Marvel Comics|         -|      bad| 108.0|      37|
|154|Captain Mar-vell|  Male|       blue|   -|     Blond| 188.0|Marvel Comics|         -|     good| 108.0|      38|
|552|       Red Skull|  Male|       blue|   -|   No Hair| 188.0|Marvel Comics|         -|      bad| 108.0|      39|
|707|         Warlock|  Male|        red|   -|     Blond| 188.0|Marvel Comics|         -|     good| 108.0|      40|
|452|           Mimic|  Male|      brown|   -|     Brown| 188.0|Marvel Comics|         -|     good| 101.0|      41|
|727|     Yellow Claw|  Male|       blue|   -|   No Hair| 188.0|Marvel Comics|         -|      bad|  95.0|      42|
|269|  Franklin Storm|     -|       blue|   -|      Grey| 188.0|Marvel Comics|         -|     good|  92.0|      43|
|429|        Man-Wolf|  Male|      brown|   -|    Auburn| 188.0|Marvel Comics|         -|     good|  90.0|      44|
|472|          Morlun|  Male|white / red|   -|     Black| 188.0|Marvel Comics|         -|      bad|  79.0|      45|
|152|    Captain Epic|  Male|       blue|   -|     Brown| 188.0| Team Epic TV|         -|     good| -99.0|      46|
| 42|            Ares|  Male|      brown|   -|     Brown| 185.0|Marvel Comics|         -|     good| 270.0|      47|
|586|     Shadow King|     -|        red|   -|         -| 185.0|Marvel Comics|         -|     good| 149.0|      48|
|663|     Thunderbird|  Male|      brown|   -|     Black| 185.0|Marvel Comics|         -|     good| 101.0|      49|
|102| Black Lightning|  Male|      brown|   -|   No Hair| 185.0|    DC Comics|         -|     good|  90.0|      50|
+---+----------------+------+-----------+----+----------+------+-------------+----------+---------+------+--------+
only showing top 50 rows

In [104]:
sqlcontext.sql("""
select *,row_number() over(partition by Publisher order by Weight desc)prt_col 
from hero_Table""").show(50)

+---+-----------------+------+---------+-------------+----------+------+-----------+----------+---------+------+-------+
|_c0|             name|Gender|Eye_color|         Race|Hair_color|Height|  Publisher|Skin_color|Alignment|Weight|prt_col|
+---+-----------------+------+---------+-------------+----------+------+-----------+----------+---------+------+-------+
|542|            Rambo|  Male|    brown|        Human|     Black| 178.0|       null|         -|     good|  83.0|      1|
| 46|        Astro Boy|  Male|    brown|            -|     Black| -99.0|       null|         -|     good| -99.0|      2|
| 86|     Bionic Woman|Female|     blue|       Cyborg|     Black| -99.0|       null|         -|     good| -99.0|      3|
|138|       Brundlefly|  Male|        -|       Mutant|         -| 193.0|       null|         -|        -| -99.0|      4|
|175|     Chuck Norris|  Male|        -|            -|         -| 178.0|       null|         -|     good| -99.0|      5|
|204|         Darkside|     -|        -|            -|         -| -99.0|       null|         -|      bad| -99.0|      6|
|244|       Ethan Hunt|  Male|    brown|        Human|     Brown| 168.0|       null|         -|     good| -99.0|      7|
|263|     Flash Gordon|  Male|        -|            -|         -| -99.0|       null|         -|     good| -99.0|      8|
|348|       Jack Bauer|  Male|        -|            -|         -| -99.0|       null|         -|     good| -99.0|      9|
|354|     Jason Bourne|  Male|        -|        Human|         -| -99.0|       null|         -|     good| -99.0|     10|
|381| Katniss Everdeen|Female|        -|        Human|         -| -99.0|       null|         -|     good| -99.0|     11|
|393|     Kool-Aid Man|  Male|    black|            -|   No Hair| -99.0|       null|       red|     good| -99.0|     12|
|658|         The Cape|  Male|        -|            -|         -| -99.0|       null|         -|     good| -99.0|     13|
|286|         Godzilla|     -|        -|        Kaiju|         -| 108.0|       null|      grey|      bad|  null|     14|
|389|        King Kong|  Male|   yellow|       Animal|     Black|  30.5|       null|         -|     good|  null|     15|
|199|    Daphne Powell|Female|        -|            -|         -| -99.0|ABC Studios|         -|     good| -99.0|      1|
|363|       Jim Powell|  Male|        -|            -|         -| -99.0|ABC Studios|         -|     good| -99.0|      2|
|364|        JJ Powell|  Male|        -|            -|         -| -99.0|ABC Studios|         -|     good| -99.0|      3|
|638| Stephanie Powell|Female|        -|            -|     Blond| -99.0|ABC Studios|         -|     good| -99.0|      4|
|203|         Darkseid|  Male|      red|      New God|   No Hair| 267.0|  DC Comics|      grey|      bad| 817.0|      1|
|283|          Giganta|Female|    green|            -|       Red|  62.5|  DC Comics|         -|      bad| 630.0|      2|
|611|   Solomon Grundy|  Male|    black|       Zombie|     White| 279.0|  DC Comics|         -|      bad| 437.0|      3|
|229|         Doomsday|  Male|      red|        Alien|     White| 244.0|  DC Comics|         -|      bad| 412.0|      4|
|386|      Killer Croc|  Male|      red|    Metahuman|   No Hair| 244.0|  DC Comics|     green|      bad| 356.0|      5|
|388|          Kilowog|  Male|      red|   Bolovaxian|   No Hair| 234.0|  DC Comics|      pink|     good| 324.0|      6|
|413|             Lobo|  Male|      red|     Czarnian|     Black| 229.0|  DC Comics|blue-white|  neutral| 288.0|      7|
|293|    Gorilla Grodd|  Male|   yellow|      Gorilla|     Black| 198.0|  DC Comics|         -|      bad| 270.0|      8|
|245|          Etrigan|  Male|      red|        Demon|   No Hair| 193.0|  DC Comics|    yellow|  neutral| 203.0|      9|
| 59|             Bane|  Male|        -|        Human|         -| 203.0|  DC Comics|         -|      bad| 180.0|     10|
| 19|            Amazo|  Male|      red|      Android|         -| 257.0|  DC Comics|         -|      bad| 173.0|     11|
|193|           Cyborg|  Male|    brown|       Cyborg|     Black| 198.0|  DC Comics|         -|     good| 173.0|     12|
|176|    Citizen Steel|  Male|    green|        Human|       Red| 183.0|  DC Comics|         -|     good| 170.0|     13|
| 92|          Bizarro|  Male|    black|      Bizarro|     Black| 191.0|  DC Comics|     white|  neutral| 155.0|     14|
| 37|          Aquaman|  Male|     blue|    Atlantean|     Blond| 185.0|  DC Comics|         -|     good| 146.0|     15|
|553|      Red Tornado|  Male|    green|      Android|   No Hair| 185.0|  DC Comics|         -|     good| 146.0|     16|
| 80|        Big Barda|Female|     blue|      New God|     Black| 188.0|  DC Comics|         -|      bad| 135.0|     17|
|135|         Brainiac|  Male|    green|      Android|   No Hair| 198.0|  DC Comics|     green|      bad| 135.0|     18|
|432|Martian Manhunter|  Male|      red|      Martian|   No Hair| 201.0|  DC Comics|     green|     good| 135.0|     19|
|637|            Steel|  Male|    brown|            -|   No Hair| 201.0|  DC Comics|         -|     good| 131.0|     20|
| 48|            Atlas|  Male|     blue|God / Eternal|     Brown| 198.0|  DC Comics|         -|      bad| 126.0|     21|
|294|  Granny Goodness|Female|     blue|            -|     White| 178.0|  DC Comics|         -|      bad| 115.0|     22|
| 94|       Black Adam|  Male|    brown|            -|     Black| 191.0|  DC Comics|         -|      bad| 113.0|     23|
|613|      Space Ghost|  Male|        -|        Human|         -| 188.0|  DC Comics|         -|     good| 113.0|     24|
| 36|          Aqualad|  Male|     blue|    Atlantean|     Black| 178.0|  DC Comics|         -|     good| 106.0|     25|
|156|   Captain Marvel|  Male|     blue|        Human|     Black| 193.0|  DC Comics|         -|     good| 101.0|     26|
|215|      Deathstroke|  Male|     blue|        Human|     White| 193.0|  DC Comics|         -|  neutral| 101.0|     27|
|564|         Robin II|  Male|     blue|        Human|       Red| 183.0|  DC Comics|         -|     good| 101.0|     28|
|646|         Superman|  Male|     blue|   Kryptonian|     Black| 191.0|  DC Comics|         -|     good| 101.0|     29|
|659|     The Comedian|  Male|    brown|        Human|     Black| 188.0|  DC Comics|         -|  neutral| 101.0|     30|
|131|     Booster Gold|  Male|     blue|        Human|     Blond| 196.0|  DC Comics|         -|     good|  97.0|     31|
+---+-----------------+------+---------+-------------+----------+------+-----------+----------+---------+------+-------+
only showing top 50 rows

In [204]:
sqlcontext.sql("""
select max(Weight) from hero_Table""").show()

+-----------+
|max(Weight)|
+-----------+
|      900.0|
+-----------+

#### Renaming of column name in DataFrame: 
     function used->>  "withColumnRenamed"
     Check Below Spark Code:

In [106]:
sn_hero_df=hero_df.withColumnRenamed('_c0','serial_no')

In [107]:
sn_hero_df.show(5)

+---------+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|serial_no|       name|Gender|Eye_color|             Race|Hair_color|Height|        Publisher|Skin_color|Alignment|Weight|
+---------+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|        0|     A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|        1| Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|        2|   Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|        3|Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|        4|    Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
+---------+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 5 rows

In [108]:
hero_df.show(5)

+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|       name|Gender|Eye_color|             Race|Hair_color|Height|        Publisher|Skin_color|Alignment|Weight|
+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|     A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1| Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|   Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|    Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 5 rows

In [211]:
 sn_hero_df.printSchema()

root
 |-- serial_no: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye_color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair_color: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin_color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: double (nullable = true)

In [212]:
hero_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye_color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair_color: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin_color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: double (nullable = true)

In [110]:
hero_df.describe().show()

+-------+------------------+------+------+------------+------+----------+------------------+-----------+----------+---------+------------------+
|summary|               _c0|  name|Gender|   Eye_color|  Race|Hair_color|            Height|  Publisher|Skin_color|Alignment|            Weight|
+-------+------------------+------+------+------------+------+----------+------------------+-----------+----------+---------+------------------+
|  count|               734|   734|   734|         734|   734|       734|               734|        719|       734|      734|               732|
|   mean|             366.5|  null|  null|        null|  null|      null|102.25408719346049|       null|      null|     null|  43.8551912568306|
| stddev|212.03183723205342|  null|  null|        null|  null|      null|139.62454255007276|       null|      null|     null|130.82373271995195|
|    min|                 0|A-Bomb|     -|           -|     -|         -|             -99.0|ABC Studios|         -|        -|             -99.0|
|    max|               733|  Zoom|  Male|yellow / red|Zombie|     blond|             975.0|  Wildstorm|    yellow|  neutral|             900.0|
+-------+------------------+------+------+------------+------+----------+------------------+-----------+----------+---------+------------------+

In [214]:
hero_df.describe('Race').show()

+-------+------+
|summary|  Race|
+-------+------+
|  count|   734|
|   mean|  null|
| stddev|  null|
|    min|     -|
|    max|Zombie|
+-------+------+

#### Fetching distinct records for a column from DataFrame:
    Check Below Spark Code:-->>

In [111]:
hero_df.select('Skin_color').distinct().show(5)

+----------+
|Skin_color|
+----------+
|         -|
|      blue|
|       red|
|     black|
|      grey|
+----------+
only showing top 5 rows

In [226]:
hero_df.select('Skin_color','Eye_color','Race','Alignment').distinct().show(60)

+----------+---------+-----------------+---------+
|Skin_color|Eye_color|             Race|Alignment|
+----------+---------+-----------------+---------+
|         -|   yellow|            Human|     good|
|      blue|     blue|    Icthyo Sapien|     good|
|       red|     blue|          Ungaran|     good|
|         -|    green|Human / Radiation|      bad|
|         -|     blue|    Cosmic Entity|      bad|
|         -|     blue|            Human|      bad|
|         -|     blue|                -|     good|
|         -|     blue|            Human|     good|
|         -|    brown|            Human|     good|
|         -|        -|                -|     good|
|         -|     blue|                -|      bad|
|         -|    brown|           Cyborg|      bad|
|         -|        -|            Human|      bad|
|     black|        -|  Xenomorph XX121|      bad|
|         -|      red|          Android|      bad|
|         -|    brown|            Human|      bad|
|         -|        -|          Vampire|     good|
|         -|   yellow|           Mutant|     good|
|         -|    brown|                -|     good|
|         -|        -|                -|      bad|
|         -|    green|                -|      bad|
|         -|   yellow|    God / Eternal|      bad|
|         -|     blue|         Symbiote|        -|
|      grey|      red|           Mutant|      bad|
|         -|     blue|        Atlantean|     good|
|      blue|     blue|           Mutant|     good|
|         -|   violet|                -|      bad|
|      gold|    white|            Alien|     good|
|         -|   purple|                -|     good|
|         -|    black|                -|     good|
|         -|        -|            Human|     good|
|         -|    brown|           Mutant|     good|
|         -|     blue|    God / Eternal|      bad|
|         -|     blue|           Mutant|     good|
|       red|   yellow|         Neyaphem|      bad|
|         -|    green|            Human|     good|
|     green|    green|            Human|     good|
|         -|        -|    God / Eternal|     good|
|         -|     blue|          New God|      bad|
|         -|        -|            Alpha|     good|
|         -|     blue|           Cyborg|     good|
|     white|    black|          Bizarro|  neutral|
|         -|      red|                -|      bad|
|         -|    brown|                -|      bad|
|         -|     blue|          Inhuman|     good|
|         -|     blue|        Metahuman|     good|
|         -|        -|    God / Eternal|  neutral|
|         -|    black|            Human|      bad|
|     white|      red|            Demon|      bad|
|         -|      red|            Alien|        -|
|         -|    brown|          Vampire|     good|
|      pink|    green|           Mutant|     good|
|         -|    black|           Mutant|     good|
|         -|    white|                -|      bad|
|         -|    brown|    Human / Clone|      bad|
|     green|    green|          Android|      bad|
|         -|    green|                -|     good|
|         -|        -|           Mutant|        -|
|    silver|     blue|Human / Radiation|     good|
|         -|    brown|            Human|  neutral|
+----------+---------+-----------------+---------+
only showing top 60 rows

In [118]:
print(hero_df.describe('Skin_color').distinct().show())
print(hero_df.count())
print("Distinct skin color:",hero_df.select('Skin_color').distinct().count())
print(hero_df.select('Skin_color').distinct().show())

+-------+----------+
|summary|Skin_color|
+-------+----------+
|  count|       734|
|    max|    yellow|
|    min|         -|
|   mean|      null|
| stddev|      null|
+-------+----------+

None
734
Distinct skin color: 17
+--------------+
|    Skin_color|
+--------------+
|             -|
|          blue|
|           red|
|         black|
|          grey|
|          gold|
|         green|
|         white|
|          pink|
|        silver|
|   red / black|
|        yellow|
|        purple|
|orange / white|
|          gray|
|    blue-white|
|        orange|
+--------------+

None

In [119]:
hero_df.show(5)

+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|       name|Gender|Eye_color|             Race|Hair_color|Height|        Publisher|Skin_color|Alignment|Weight|
+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|     A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1| Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|   Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|    Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
+---+-----------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 5 rows

In [231]:
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc

In [120]:
hero_df.sort(desc('Weight')).show(10)

+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|      name|Gender|Eye_color|             Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575| Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|  Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|283|   Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|549|  Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|331|      Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|  Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718| Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|    Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|    A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 10 rows

In [122]:
# sorting a datafarame in descending order by one column
sorted_df=hero_df.sort(desc('Weight'))

In [123]:
sorted_df.count()

734

In [124]:
sorted_df.show(10)

+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|      name|Gender|Eye_color|             Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575| Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|  Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|283|   Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|549|  Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|331|      Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|  Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718| Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|    Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|    A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 10 rows

In [125]:
# select from sorted dataframe.
sorted_df_1=sorted_df.select('name','weight','height')

In [126]:
sorted_df_1.show(5)

+----------+------+------+
|      name|weight|height|
+----------+------+------+
| Sasquatch| 900.0| 305.0|
|Juggernaut| 855.0| 287.0|
|  Darkseid| 817.0| 267.0|
|   Giganta| 630.0|  62.5|
|      Hulk| 630.0| 244.0|
+----------+------+------+
only showing top 5 rows

In [127]:
sorted_df_2=sorted_df.select('name','height','race','weight')

In [128]:
sorted_df_2.show(5)

+----------+------+-----------------+------+
|      name|height|             race|weight|
+----------+------+-----------------+------+
| Sasquatch| 305.0|                -| 900.0|
|Juggernaut| 287.0|            Human| 855.0|
|  Darkseid| 267.0|          New God| 817.0|
|   Giganta|  62.5|                -| 630.0|
|      Hulk| 244.0|Human / Radiation| 630.0|
+----------+------+-----------------+------+
only showing top 5 rows

In [273]:
sorted_df_2.count()

734

#### Dropping duplicates from DataFrame:
     Used functions:--->> "dropDuplicates"
     Check Below Spark Code:--->>

In [144]:
# removing duplicate for column 'height' from a sorted dataframe.
height_duplicate=sorted_df_1.dropDuplicates(['height'])

In [146]:
print(height_duplicate.count())
print(sorted_df_1.select('Height').count())
print(sorted_df.select('Height').distinct().count())

54
734
54

In [2]:
# get count of distinct 'race' from sorted dataframe
print(sorted_df_2.select('race').distinct().count())

# get count of 'race' after removing duplicate 'race'
print(sorted_df_2.dropDuplicates(['race']).count())

NameError: name 'sorted_df_2' is not defined

In above spark code 
in first output we can see that there are 62 distincts race present in dataframe:
In second output we can see that after removing duplicates for 'race' we r getting 62 records 
Thus this is functions are working correct

In [147]:
# removing duplicates for two columns 'race' and 'height'.
race_height_duplicate=sorted_df_2.dropDuplicates(['race','height'])

In [148]:
race_height_duplicate.count()

206

In [149]:
race_height_duplicate.show()

+---------------+------+----+------+
|           name|height|race|weight|
+---------------+------+----+------+
|        Atom IV| -99.0|   -|  72.0|
|    Bloodwraith|  30.5|   -| -99.0|
|        Giganta|  62.5|   -| 630.0|
|Howard the Duck|  79.0|   -|  18.0|
|        Wiz Kid| 140.0|   -|  39.0|
|  Lightning Lad| 155.0|   -|  65.0|
|     Silverclaw| 157.0|   -|  50.0|
|          Quill| 163.0|   -|  56.0|
|       Vanisher| 165.0|   -|  79.0|
|      Ultragirl| 168.0|   -| 105.0|
|       Superboy| 170.0|   -|  68.0|
|           Warp| 173.0|   -|  67.0|
|   Nightcrawler| 175.0|   -|  88.0|
|           Blob| 178.0|   -| 230.0|
|         Frigga| 180.0|   -| 167.0|
|    Machine Man| 183.0|   -| 383.0|
|           Ares| 185.0|   -| 270.0|
|      Destroyer| 188.0|   -| 383.0|
|       Valkyrie| 191.0|   -| 214.0|
|        Box III| 193.0|   -| 110.0|
+---------------+------+----+------+
only showing top 20 rows

In [279]:
df_srt_1.show(2)

+-----------+------+------+
|       name|weight|height|
+-----------+------+------+
|      T-850| 198.0| -99.0|
|Utgard-Loki|  58.0|  15.2|
+-----------+------+------+
only showing top 2 rows

In [280]:
df_srt_2.show(2)

+-----------+------+----+------+
|       name|height|race|weight|
+-----------+------+----+------+
|    Atom IV| -99.0|   -|  72.0|
|Bloodwraith|  30.5|   -| -99.0|
+-----------+------+----+------+
only showing top 2 rows

#### Joining two dataFrames:
      Function:--->>".join"
      Check Below Code:

In [150]:
join_df=height_duplicate.join(race_height_duplicate,height_duplicate.name==race_height_duplicate.name)

In [151]:
join_df.show(10)

+---------------+------+------+---------------+------+--------------+------+
|           name|weight|height|           name|height|          race|weight|
+---------------+------+------+---------------+------+--------------+------+
|          T-850| 198.0| -99.0|          T-850| -99.0|        Cyborg| 198.0|
|    Utgard-Loki|  58.0|  15.2|    Utgard-Loki|  15.2|   Frost Giant|  58.0|
|    Bloodwraith| -99.0|  30.5|    Bloodwraith|  30.5|             -| -99.0|
|   Anti-Monitor| -99.0|  61.0|   Anti-Monitor|  61.0| God / Eternal| -99.0|
|        Giganta| 630.0|  62.5|        Giganta|  62.5|             -| 630.0|
|         Krypto|  18.0|  64.0|         Krypto|  64.0|    Kryptonian|  18.0|
|           Yoda|  17.0|  66.0|           Yoda|  66.0|Yoda's species|  17.0|
|      Jack-Jack|  14.0|  71.0|      Jack-Jack|  71.0|         Human|  14.0|
|Howard the Duck|  18.0|  79.0|Howard the Duck|  79.0|             -|  18.0|
|       Godzilla|  null| 108.0|       Godzilla| 108.0|         Kaiju|  null|
+---------------+------+------+---------------+------+--------------+------+
only showing top 10 rows

In [152]:
join_df.count()

54

In [259]:
sorted_df.dropDuplicates(['Hair_color','Eye_color','race','alignment','publisher','skin_color','gender','height']).count()

616

In [262]:
sorted_df.dropDuplicates(['hair_color','skin_color','eye_color','alignment','height','gender','publisher','race']).show()

+---+-------------+------+---------+----+----------+------+-----------------+----------+---------+------+
|_c0|         name|Gender|Eye_color|Race|Hair_color|Height|        Publisher|Skin_color|Alignment|Weight|
+---+-------------+------+---------+----+----------+------+-----------------+----------+---------+------+
|204|     Darkside|     -|        -|   -|         -| -99.0|             null|         -|      bad| -99.0|
|263| Flash Gordon|  Male|        -|   -|         -| -99.0|             null|         -|     good| -99.0|
|199|Daphne Powell|Female|        -|   -|         -| -99.0|      ABC Studios|         -|     good| -99.0|
|363|   Jim Powell|  Male|        -|   -|         -| -99.0|      ABC Studios|         -|     good| -99.0|
|169|    Chameleon|  Male|        -|   -|         -| -99.0|        DC Comics|         -|      bad| -99.0|
| 62|      Batgirl|Female|        -|   -|         -| -99.0|        DC Comics|         -|     good| -99.0|
| 50|         Atom|  Male|        -|   -|         -| -99.0|        DC Comics|         -|     good| -99.0|
|411|  Liz Sherman|Female|        -|   -|         -| -99.0|Dark Horse Comics|         -|     good| -99.0|
|365|Johann Krauss|  Male|        -|   -|         -| -99.0|Dark Horse Comics|         -|     good| -99.0|
|242|       Energy|Female|        -|   -|         -| -99.0|    HarperCollins|         -|     good| -99.0|
|536|      Quantum|  Male|        -|   -|         -| -99.0|    HarperCollins|         -|     good| -99.0|
|550|     Red Mist|  Male|        -|   -|         -| -99.0|      Icon Comics|         -|      bad| -99.0|
| 81|    Big Daddy|  Male|        -|   -|         -| -99.0|      Icon Comics|         -|     good| -99.0|
| 26|       Angela|Female|        -|   -|         -| -99.0|     Image Comics|         -|      bad| -99.0|
| 32|   Anti-Spawn|  Male|        -|   -|         -| -99.0|     Image Comics|         -|      bad| -99.0|
|577|Savage Dragon|  Male|        -|   -|         -| -99.0|     Image Comics|         -|     good| -99.0|
|234|          Ego|     -|        -|   -|         -| -99.0|    Marvel Comics|         -|      bad| -99.0|
| 76|       Beetle|  Male|        -|   -|         -| -99.0|    Marvel Comics|         -|      bad| -99.0|
| 87|   Bird-Brain|     -|        -|   -|         -| -99.0|    Marvel Comics|         -|     good| -99.0|
|130|       Boomer|Female|        -|   -|         -| -99.0|    Marvel Comics|         -|     good| -99.0|
+---+-------------+------+---------+----+----------+------+-----------------+----------+---------+------+
only showing top 20 rows

In [153]:
sorted_df.show(10)

+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|      name|Gender|Eye_color|             Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575| Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|  Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|283|   Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|549|  Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|331|      Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|  Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718| Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|    Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|    A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
+---+----------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 10 rows

In [286]:
sorted_df.show()

+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|_c0|          name|Gender|Eye_color|             Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
|575|     Sasquatch|  Male|      red|                -|    Orange| 305.0|Marvel Comics|         -|     good| 900.0|
|373|    Juggernaut|  Male|     blue|            Human|       Red| 287.0|Marvel Comics|         -|  neutral| 855.0|
|203|      Darkseid|  Male|      red|          New God|   No Hair| 267.0|    DC Comics|      grey|      bad| 817.0|
|549|      Red Hulk|  Male|   yellow|Human / Radiation|     Black| 213.0|Marvel Comics|       red|  neutral| 630.0|
|283|       Giganta|Female|    green|                -|       Red|  62.5|    DC Comics|         -|      bad| 630.0|
|331|          Hulk|  Male|    green|Human / Radiation|     Green| 244.0|Marvel Comics|     green|     good| 630.0|
|119|      Bloodaxe|Female|     blue|            Human|     Brown| 218.0|Marvel Comics|         -|      bad| 495.0|
|718|     Wolfsbane|Female|    green|                -|    Auburn| 366.0|Marvel Comics|         -|     good| 473.0|
|657|        Thanos|  Male|      red|          Eternal|   No Hair| 201.0|Marvel Comics|    purple|      bad| 443.0|
|  0|        A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|Marvel Comics|         -|     good| 441.0|
|  3|   Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|Marvel Comics|         -|      bad| 441.0|
|611|Solomon Grundy|  Male|    black|           Zombie|     White| 279.0|    DC Comics|         -|      bad| 437.0|
|229|      Doomsday|  Male|      red|            Alien|     White| 244.0|    DC Comics|         -|      bad| 412.0|
|614|         Spawn|  Male|    brown|            Demon|     Black| 211.0| Image Comics|         -|     good| 405.0|
|504|     Onslaught|  Male|      red|           Mutant|   No Hair| 305.0|Marvel Comics|         -|      bad| 405.0|
|217|     Destroyer|  Male|        -|                -|         -| 188.0|Marvel Comics|         -|      bad| 383.0|
|422|   Machine Man|     -|      red|                -|     Black| 183.0|Marvel Comics|         -|     good| 383.0|
|409|  Living Brain|     -|   yellow|                -|         -| 198.0|Marvel Comics|         -|      bad| 360.0|
| 33|    Anti-Venom|  Male|     blue|         Symbiote|     Blond| 229.0|Marvel Comics|         -|        -| 358.0|
|386|   Killer Croc|  Male|      red|        Metahuman|   No Hair| 244.0|    DC Comics|     green|      bad| 356.0|
+---+--------------+------+---------+-----------------+----------+------+-------------+----------+---------+------+
only showing top 20 rows

### Application of ".where" condition on a DataFrame
      Check Below Code:-->>>

In [167]:
from pyspark.sql.functions import col

# where_df=sorted_df.where(col("Race")=="Human")&(col("Eye_color")=="red")&(col("Publisher")=="Marvel Comics"))
where_df_new=sorted_df.where((sorted_df.Race=="Human")&(sorted_df.Eye_color=="red")&(sorted_df.Publisher=="Marvel Comics"))

In [168]:
where_df_new.show()

+---+----------+------+---------+-----+----------+------+-------------+----------+---------+------+
|_c0|      name|Gender|Eye_color| Race|Hair_color|Height|    Publisher|Skin_color|Alignment|Weight|
+---+----------+------+---------+-----+----------+------+-------------+----------+---------+------+
|412|    Lizard|  Male|      red|Human|   No Hair| 203.0|Marvel Comics|         -|      bad| 230.0|
|392|      Klaw|  Male|      red|Human|   No Hair| 188.0|Marvel Comics|       red|      bad|  97.0|
|623|Spider-Man|     -|      red|Human|     Brown| 178.0|Marvel Comics|         -|     good|  77.0|
+---+----------+------+---------+-----+----------+------+-------------+----------+---------+------+

In [303]:
sorted_df.count()

734

In [305]:
sorted_df.explain()

== Physical Plan ==
*(1) Sort [Weight#1477 DESC NULLS LAST], true, 0
+- *(1) Project [_c0#1467, name#1468, Gender#1469, Eye_color#1470, Race#1471, Hair_color#1472, Height#1473, Publisher#1474, Skin_color#1475, Alignment#1476, Weight#1477]
   +- BatchScan[_c0#1467, name#1468, Gender#1469, Eye_color#1470, Race#1471, Hair_color#1472, Height#1473, Publisher#1474, Skin_color#1475, Alignment#1476, Weight#1477] CSVScan Location: InMemoryFileIndex[file:/C:/Users/ckp43_000/Documents/heroes_information.csv], ReadSchema: struct<_c0:int,name:string,Gender:string,Eye_color:string,Race:string,Hair_color:string,Height:do...

In [306]:
sorted_df.explain(True)

== Parsed Logical Plan ==
'Sort ['Weight DESC NULLS LAST], true
+- RelationV2[_c0#1467, name#1468, Gender#1469, Eye_color#1470, Race#1471, Hair_color#1472, Height#1473, Publisher#1474, Skin_color#1475, Alignment#1476, Weight#1477] csv file:/C:/Users/ckp43_000/Documents/heroes_information.csv

== Analyzed Logical Plan ==
_c0: int, name: string, Gender: string, Eye_color: string, Race: string, Hair_color: string, Height: double, Publisher: string, Skin_color: string, Alignment: string, Weight: double
Sort [Weight#1477 DESC NULLS LAST], true
+- RelationV2[_c0#1467, name#1468, Gender#1469, Eye_color#1470, Race#1471, Hair_color#1472, Height#1473, Publisher#1474, Skin_color#1475, Alignment#1476, Weight#1477] csv file:/C:/Users/ckp43_000/Documents/heroes_information.csv

== Optimized Logical Plan ==
Sort [Weight#1477 DESC NULLS LAST], true
+- RelationV2[_c0#1467, name#1468, Gender#1469, Eye_color#1470, Race#1471, Hair_color#1472, Height#1473, Publisher#1474, Skin_color#1475, Alignment#1476, Weight#1477] csv file:/C:/Users/ckp43_000/Documents/heroes_information.csv

== Physical Plan ==
*(1) Sort [Weight#1477 DESC NULLS LAST], true, 0
+- *(1) Project [_c0#1467, name#1468, Gender#1469, Eye_color#1470, Race#1471, Hair_color#1472, Height#1473, Publisher#1474, Skin_color#1475, Alignment#1476, Weight#1477]
   +- BatchScan[_c0#1467, name#1468, Gender#1469, Eye_color#1470, Race#1471, Hair_color#1472, Height#1473, Publisher#1474, Skin_color#1475, Alignment#1476, Weight#1477] CSVScan Location: InMemoryFileIndex[file:/C:/Users/ckp43_000/Documents/heroes_information.csv], ReadSchema: struct<_c0:int,name:string,Gender:string,Eye_color:string,Race:string,Hair_color:string,Height:do...

In [171]:
from pyspark.sql.functions import stddev,avg

In [183]:
print(sorted_df.agg(avg('height')).first())
print(sorted_df.agg(avg('height')))
print("\n")
print(sorted_df.agg(stddev('height')).first())
print(sorted_df.agg(sum('height')).first())

Row(avg(height)=102.25408719346049)
DataFrame[avg(height): double]


Row(stddev_samp(height)=139.6245425500728)
Row(sum(height)=75054.5)

In [309]:
sorted_df.agg(avg('skin_color')).first()

Row(avg(skin_color)=None)