In [2]:
# Testing pyspark installation
import numpy
import pandas
import findspark
import pyspark
findspark.init()
findspark.find()

'C:\\spark\\spark-3.0.0-preview2-bin-hadoop2.7'

In [19]:
# a="my name is ck"
def count_char(text):
    result=0
    for sol in text:
        result=result+1
    return result

In [20]:
count_char("my name is ck")

13

In [3]:
print(len(a))

13

In [3]:
from pyspark import SparkConf
from pyspark import SparkContext
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

In [46]:
# Reading CSV file from local file system :
my_rdd1=sc.textFile("file:///C:/Users/ckp43_000/Documents/sample.csv")

In [6]:
my_rdd1

file:///C:/Users/ckp43_000/Documents/sample.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [9]:
my_rdd1.take(1)

['Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit']

In [8]:
my_rdd1.take(5)

['Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit',
 'Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02',
 'North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34',
 'Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62',
 'Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98']

In [10]:
my_rdd1.map(lambda s: len(s)).reduce(lambda a,b: a + b)

123003

In [33]:
def func(lines):
    ilnes=lines.lower()
    lines=lines.split()
    return lines
my_rdd2=my_rdd1.map(func)
my_rdd2.take(5)

[['Region,Country,Item',
  'Type,Sales',
  'Channel,Order',
  'Priority,Order',
  'Date,Order',
  'ID,Ship',
  'Date,Units',
  'Sold,Unit',
  'Price,Unit',
  'Cost,Total',
  'Revenue,Total',
  'Cost,Total',
  'Profit'],
 ['Middle',
  'East',
  'and',
  'North',
  'Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02'],
 ['North',
  'America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34'],
 ['Middle',
  'East',
  'and',
  'North',
  'Africa,Libya,Baby',
  'Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62'],
 ['Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98']]

In [31]:
def func(lines):
    lines=lines.lower()
    return lines 
my_rdd4=my_rdd1.map(func)

In [32]:
my_rdd4.take(5)

['region,country,item type,sales channel,order priority,order date,order id,ship date,units sold,unit price,unit cost,total revenue,total cost,total profit',
 'middle east and north africa,libya,cosmetics,offline,m,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02',
 'north america,canada,vegetables,online,m,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34',
 'middle east and north africa,libya,baby food,offline,c,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62',
 'asia,japan,cereal,offline,c,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98']

In [19]:
my_rdd3=my_rdd1.flatMap(func)
my_rdd3.take(5)

['Region,Country,Item',
 'Type,Sales',
 'Channel,Order',
 'Priority,Order',
 'Date,Order']

In [56]:
filteredrdd=my_rdd1.filter(lambda x: x.startswith('S'))
# filteredrdd.distinct().take(5)

In [57]:
filteredrdd.take(10)

['Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45',
 'Sub-Saharan Africa,Eritrea,Cereal,Online,H,3/4/2015,679414975,4/17/2015,2844,205.70,117.11,585010.80,333060.84,251949.96',
 'Sub-Saharan Africa,Togo,Clothes,Online,M,12/29/2015,451010930,1/19/2016,3012,109.28,35.84,329151.36,107950.08,221201.28',
 'Sub-Saharan Africa,Sudan,Cosmetics,Online,C,12/20/2015,544485270,1/5/2016,4146,437.20,263.33,1812631.20,1091766.18,720865.02',
 'Sub-Saharan Africa,Cape Verde,Clothes,Online,C,9/8/2014,821912801,10/3/2014,1117,109.28,35.84,122065.76,40033.28,82032.48',
 'Sub-Saharan Africa,Senegal,Household,Offline,L,8/27/2012,247802054,9/8/2012,8989,668.27,502.54,6007079.03,4517332.06,1489746.97',
 'Sub-Saharan Africa,Senegal,Beverages,Offline,M,10/22/2014,683927953,11/4/2014,8334,47.45,31.79,395448.30,264937.86,130510.44',
 'Sub-Saharan Africa,Chad,Meat,Offline,H,1/20/2016,357222878,3/9/2016,9043,421.89,364.69,3815151.27,3297891.67,517259.60',
 'Sub-Saharan Africa,Mauritius ,Personal Care,Online,C,1/1/2016,118002879,1/7/2016,8529,81.73,56.67,697075.17,483338.43,213736.74',
 'Sub-Saharan Africa,Benin,Fruits,Online,L,1/28/2014,564646470,3/16/2014,293,9.33,6.92,2733.69,2027.56,706.13']

In [48]:
filterrdd=my_rdd1.filter(lambda x: x.startswith('C'))

In [49]:
filterrdd

PythonRDD[84] at RDD at PythonRDD.scala:53

In [55]:
filterrdd.distinct().take(10)

['Central America and the Caribbean,Jamaica,Vegetables,Online,H,1/29/2015,266467225,3/7/2015,2428,154.06,90.93,374057.68,220778.04,153279.64',
 'Central America and the Caribbean,Grenada,Cereal,Online,H,10/28/2012,430390107,11/13/2012,852,205.70,117.11,175256.40,99777.72,75478.68',
 'Central America and the Caribbean,Trinidad and Tobago,Vegetables,Offline,M,3/6/2011,280494105,4/14/2011,3294,154.06,90.93,507473.64,299523.42,207950.22',
 'Central America and the Caribbean,Cuba,Beverages,Offline,C,1/9/2011,890695369,2/23/2011,5408,47.45,31.79,256609.60,171920.32,84689.28',
 'Central America and the Caribbean,Cuba,Clothes,Offline,H,2/16/2011,466970717,3/18/2011,5867,109.28,35.84,641145.76,210273.28,430872.48',
 'Central America and the Caribbean,Saint Lucia,Cosmetics,Online,C,8/13/2012,845058763,9/22/2012,522,437.20,263.33,228218.40,137458.26,90760.14',
 'Central America and the Caribbean,Nicaragua,Cereal,Online,M,7/4/2011,835572326,8/8/2011,3274,205.70,117.11,673461.80,383418.14,290043.66',
 'Central America and the Caribbean,Trinidad and Tobago,Beverages,Offline,L,7/12/2012,643817985,8/19/2012,8904,47.45,31.79,422494.80,283058.16,139436.64',
 'Central America and the Caribbean,Cuba,Office Supplies,Offline,H,7/2/2017,256243503,7/23/2017,7002,651.21,524.96,4559772.42,3675769.92,884002.50',
 'Central America and the Caribbean,Costa Rica,Meat,Offline,L,1/5/2012,433627212,2/13/2012,8783,421.89,364.69,3705459.87,3203072.27,502387.60']

In [42]:
my_rdd1.take(10)

['Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit',
 'Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02',
 'North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34',
 'Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62',
 'Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98',
 'Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45',
 'Europe,Armenia,Cereal,Online,H,11/24/2014,683458888,12/28/2014,9528,205.70,117.11,1959909.60,1115824.08,844085.52',
 'Sub-Saharan Africa,Eritrea,Cereal,Online,H,3/4/2015,679414975,4/17/2015,2844,205.70,117.11,585010.80,333060.84,251949.96',
 'Europe,Montenegro,Clothes,Offline,M,5/17/2012,208630645,6/28/2012,7299,109.28,35.84,797634.72,261596.16,536038.56',
 'Central America and the Caribbean,Jamaica,Vegetables,Online,H,1/29/2015,266467225,3/7/2015,2428,154.06,90.93,374057.68,220778.04,153279.64']

In [58]:
maprdd=my_rdd1.map(lambda x:(x,1))

In [59]:
maprdd.take(10)

[('Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit',
  1),
 ('Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02',
  1),
 ('North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34',
  1),
 ('Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62',
  1),
 ('Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98',
  1),
 ('Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45',
  1),
 ('Europe,Armenia,Cereal,Online,H,11/24/2014,683458888,12/28/2014,9528,205.70,117.11,1959909.60,1115824.08,844085.52',
  1),
 ('Sub-Saharan Africa,Eritrea,Cereal,Online,H,3/4/2015,679414975,4/17/2015,2844,205.70,117.11,585010.80,333060.84,251949.96',
  1),
 ('Europe,Montenegro,Clothes,Offline,M,5/17/2012,208630645,6/28/2012,7299,109.28,35.84,797634.72,261596.16,536038.56',
  1),
 ('Central America and the Caribbean,Jamaica,Vegetables,Online,H,1/29/2015,266467225,3/7/2015,2428,154.06,90.93,374057.68,220778.04,153279.64',
  1)]

In [ ]:
splitrdd=my_rdd1.

In [21]:
rdd=range(100)
data=sc.parallelize(rdd)
data.take(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
data.reduce(lambda x,y:x+y)
# addrdd.collect()

4950

In [46]:
rdd=sc.parallelize([2,3,4])
rdd.take(4)

[2, 3, 4]

In [25]:
data=sc.parallelize(("maths",52))
data
# val sorted = data.sortByKey()
# sorted.foreach(println)

ParallelCollectionRDD[2] at readRDDFromFile at PythonRDD.scala:247

In [26]:
data=[1,2,3,4,5]
distData=sc.parallelize(data)

In [32]:
distData.reduce(lambda a,b:a*b)

120

In [31]:
distData.take(5)

[1, 2, 3, 4, 5]

In [3]:
# from pyspark import SparkContext as sc

new_rdd=sc.parallelize(["scala","python","java","c++","pyspark","spark"])

In [7]:
new_rdd.take(3)

['scala', 'python', 'java']

In [8]:
new_rdd.count()

6

In [9]:
new_rdd.collect()

['scala', 'python', 'java', 'c++', 'pyspark', 'spark']

In [21]:
def f(x):
    print(x)
new_rdd.foreach(f)
# print(print_rdd)
# new_rdd.foreach(print)

In [23]:
# filter function : o/p will be a filterd rdd

words_filter = new_rdd.filter(lambda x: 'spark' in x)
words_filter.collect()

['pyspark', 'spark']

In [24]:
# map function : o/p will be a rdd

word_map=new_rdd.map(lambda x:(x,1))
word_map.collect()

[('scala', 1),
 ('python', 1),
 ('java', 1),
 ('c++', 1),
 ('pyspark', 1),
 ('spark', 1)]

In [26]:
from operator import add
rdd1=sc.parallelize([1,2,3,4,5])
rdd1.reduce(add)

15

In [29]:
rddx=sc.parallelize([("spark",1),("python",2)])
rddy=sc.parallelize([("spark",3),("python",5)])
rddx.join(rddy).collect()

# o/p will be a rdd

[('python', (2, 5)), ('spark', (1, 3))]

In [4]:
new_rdd.cache()
new_rdd.persist().is_cached

True

In [4]:
file_rdd=sc.textFile("file:///C:/Users/ckp43_000/Documents/paragrapgh.txt")
file_rdd.collect()

["In this course, you'll learn how to use Spark from Python! ",
 'Spark is a tool for doing parallel computation with large datasets and it integrates well with Python. ',
 'PySpark is the Python package that makes the magic happen. ',
 "You'll use this package to work with data about flights from Portland and Seattle. ",
 "You'll learn to wrangle this data and build a whole machine learning pipeline to predict ",
 'whether or not flights will be delayed. ',
 'Get ready to put some Spark in your Python code and dive into the world of high-performance machine learning!']

In [6]:
file_rdd.getNumPartitions()

2

In [10]:
num_lst=[1,2,1,1,2,1,2,1]
num_rdd=sc.parallelize(num_lst)
num_rdd.collect()

[1, 2, 1, 1, 2, 1, 2, 1]

In [5]:
def process_partition(index,partition):
    yield index,":",sum(partition)

In [11]:
file_rdd_map_prt_index=num_rdd.mapPartitionsWithIndex(process_partition)
file_rdd_map_prt_index.collect()

[(0, ':', 3), (1, ':', 2), (2, ':', 3), (3, ':', 3)]